/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// Layers
#define DEFAULT
#define NUMBER
#define NAV
#define LIGHTS

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "combos.dtsi"

/ {
        combos {
          compatible = "zmk,combos";
          /*
            KEY POSITIONS
            ╭────────────────────────╮  ╭────────────────────────╮
            │ 0   1   2   3   4   5  │  │ 6   7   8   9   10  11 │
            │ 12  13  14  15  16  17 │  │ 18  19  20  21  22  23 │
            │ 24  25  26  27  28  29 │  │ 30  31  32  33  34  35 │
            ╰───────────╮ 36  37  38 │  │ 39  40  41 ╭───────────╯
                        ╰────────────╯  ╰────────────╯
          */

          // Default Layer

          // Acude
          a_acute {
            bindings = <&kp A_ACUTE>;
            key-positions = <13 26>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          e_acute {
            bindings = <&kp E_ACUTE>;
            key-positions = <3 16>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          i_acute {
            bindings = <&kp I_ACUTE>;
            key-positions = <8 21>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          o_acute {
            bindings = <&kp O_ACUTE>;
            key-positions = <9 10>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          u_acute {
            bindings = <&kp U_ACUTE>;
            key-positions = <7 20>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          // Circumflex
          a_circumflex {
            bindings = <&kp A_CIRC>;
            key-positions = <13 27>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          e_circumflex {
            bindings = <&kp E_CIRC>;
            key-positions = <3 17>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          o_circumflex {
            bindings = <&kp O_CIRC>;
            key-positions = <9 22>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          // tilde
          a_tilde {
            bindings = <&kp A_TILDE>;
            key-positions = <13 28>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          o_tilde {
            bindings = <&kp O_TILDE>;
            key-positions = <9 20>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          // Umlaut
          a_umlaut {
            bindings = <&kp A_UML>;
            key-positions = <13 25>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          o_umlaut {
            bindings = <&kp O_UML>;
            key-positions = <9 34>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          u_umlaut {
            bindings = <&kp U_UML>;
            key-positions = <7 21>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          // Cedilla
          c_cedilla {
            bindings = <&kp C_CEDIL>;
            key-positions = <27 32>;
            layers = <0>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };

          // Number Layer

          // Symbols
          excl {
            bindings = <&kp EXCL>;
            key-positions = <1 13>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          at {
            bindings = <&kp AT>;
            key-positions = <2 14>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          hash {
            bindings = <&kp HASH>;
            key-positions = <3 15>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          percent {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          caret {
            bindings = <&kp CARET>;
            key-positions = <13 25>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          ampersand {
            bindings = <&kp AMPERSAND>;
            key-positions = <14 26>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          star {
            bindings = <&kp STAR>;
            key-positions = <15 27>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          lpar {
            bindings = <&kp LPAR>;
            key-positions = <16 28>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          rpar {
            bindings = <&kp RPAR>;
            key-positions = <17 29>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          // Bluetooth
          bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <1 2 3 4>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          bt_sel_0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <6  18>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          bt_sel_1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <7  19>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          bt_sel_2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <8  20>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          bt_sel_3 {
            bindings = <&bt BT_SEL 3>;
            key-positions = <9  21>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          bt_sel_4 {
            bindings = <&bt BT_SEL 4>;
            key-positions = <10 22>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          // Copy & Paste
          copy {
            bindings = <&bt  C_COPY>;
            key-positions = <19 20>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          paste {
            bindings = <&bt C_PASTE>;
            key-positions = <20 21>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
          cut {
            bindings = <&bt   C_CUT>;
            key-positions = <21 22>;
            layers = <1>;
            timeout-ms = <30>;
            global-quick-tap-ms = <100>;
          };
        };
        keymap {
                compatible = "zmk,keymap";

                default {
// ----------------------------------------------------------------------------------------------------------
// |   TAB  |  Q  |  W  |  E  |  R    |    T    |   |   Y   |    U     |    I    |   O   |    P   |   BKSP  |
// | LIGHTS |  A  |  S  |  D  |  F    |    G    |   |   H   |    J     |    K    |   L   |    ;   |    '    |
// |  CTRL  |  Z  |  X  |  C  |  V    |    B    |   |   N   |    M     |    ,    |   .   |    /   |   SHFT  |
//                      | GUI | PREV  |  SPACE  |   |  ENT  |   NEXT   |   ALT   |
                        bindings = <
   &kp   TAB &kp Q &kp W &kp E &kp   R &kp     T     &kp Y   &kp      U &kp     I &kp   O &kp    P &kp   BSPC
   &tog    3 &kp A &kp S &kp D &kp   F &kp     G     &kp H   &kp      J &kp     K &kp   L &kp SEMI &kp    SQT
   &kp LCTRL &kp Z &kp X &kp C &kp   V &kp     B     &kp N   &kp      M &kp COMMA &kp DOT &kp FSLH &kp LSHIFT
                  &mt LGUI ESC &to NAV &kp SPACE     &kp RET &to NUMBER &kp  RALT
                        >;
                };
                number {
// ---------------------------------------------------------------------------------------------------------------------
// |  TAB   |    1    |    2    |    3    |      4    |    5    |  |  F1  |   F2  |    F3  |  F4   |   F5    |   BKSP  |
// | LIGHTS |    6    |    7    |    8    |      9    |    0    |  |  F6  |   F7  |    F8  |  F9   |  F10    |   DEL   |
// |  CTRL  |    `    |    -    |    =    |      [    |    ]    |  | F11  |  F12  |        |  INS  |  PSCRN  |  SHIFT  |
//                              |   GUI   |    PREV   |  SHIFT  |  |      |  NEXT |   ALT  |
                    bindings = <
   &tog 3    &kp    N6 &kp    N7 &kp    N8 &kp      N9 &kp     N0  &kp  F6 &kp  F7 &kp   F8 &kp F9  &kp  F10  &kp DEL
   &kp TAB   &kp    N1 &kp    N2 &kp    N3 &kp      N4 &kp     N5  &kp  F1 &kp  F2 &kp   F3 &kp F4  &kp  F5   &kp BSPC
   &kp LCTRL &kp GRAVE &kp MINUS &kp EQUAL &kp    LBKT &kp   RBKT  &kp F11 &kp F12 &trans   &kp INS &kp PSCRN &kp RSHIFT
                              &mt LGUI ESC &to DEFAULT &kp LSHIFT  &trans  &to NAV &kp RALT
                        >;
                };

                navigation {
// ---------------------------------------------------------------------------------------------------------------------------------------------
// |  TAB   |  BGDOWN    |  BTN2    |   BTN3   |   BTN1   |    BGUP   |   |   PLAY  |    HOME   | PAGE DOWN  |   PAGE UP  |    END   |   BKSP   |
// | LIGHTS |  MOUSE LF  | MOUSE DN | MOUSE UP | MOUSE RT | SPEED UP  |   |   STOP  |    LEFT   |    DOWN    |      UP    |   RIGHT  |   MUTE   |
// |  CTRL  |  WHEEL LF  | WHEEL DN | WHEEL UP | WHEEL RT | SPEED DN  |   |         |  PREV TR  |  VOL DOWN  |    VOL UP  | NEXT TR  |   SHFT   |
//                                  |   GUI    |   PREV   |           |   |         |    NEXT   |     ALT    |
                        bindings = <
   &kp  TAB  &kp C_BRI_DN &kp   BTN2 &kp   BTN3 &kp   BTN1 &kp C_BRI_UP   &kp   K_PP &kp    HOME &kp    PG_DN &kp    PG_UP &kp    END &kp   BSPC
   &tog 3    &kp     MS_L &kp   MS_D &kp   MS_U &kp   MS_R &ms_up         &kp C_STOP &kp    LEFT &kp     DOWN &kp       UP &kp  RIGHT &kp C_MUTE
   &kp LCTRL &kp     WH_L &kp   WH_D &kp   WH_U &kp   WH_R &ms_dn         &trans     &kp  C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT &kp RSHIFT
                                     &kp   LGUI &to NUMBER &trans         &trans     &to DEFAULT &kp RALT
                        >;
                };

                lights {
// --------------------------------------------------------------------------------------------------------------------------------
// |     RGBTG    |  BL CYCLE |  RGB CYCLE  |   LED LVL   | LEDNEXT |                 |   |     |      |      |      |          |           |
// |    LIGHTS    | RGB UG UP | RGB HUE UP  | RGB SAT UP  |  BL UP  | RGB UGMODE NEXT |   |     |      |      |      |          |           |
// |     BLTG     | RGB UG DN | RGB HUE DN  | RGB SAT DN  | BL DOWN | RGB UGMODE PREV |   |     |      |      |      |          |           |
//                                          |             |         |                 |   |     |      |      |
                        bindings = <
    &rgb_ug_toggle &bl_cycle   &rgb_ug_cycle &led_level    &led_next &trans               &trans &trans &trans &trans &sys_reset &bootloader
    &tog 3         &rgb_ug_inc &rgb_hue_inc  &rgb_sat_incs &bl_inc   &rgb_ug_mode_next    &trans &trans &trans &trans &trans     &trans
    &bl_toggle     &rgb_ug_dec &rgb_hue_dec  &rgb_sat_incs &bl_dec   &rgb_ug_mode_prev    &trans &trans &trans &trans &trans     &trans
                                             &trans        &trans    &trans               &trans &trans &trans
                        >;
                };
        };
};
